
{% extends 'user_baselayout.html' %}

{% load static %}

{% block content %}

  <br>

    <div class="container bg-light" style="padding: 2%; border-radius: 10px;">

      <div class="container bg-dark" style="width: 80%; padding: 1%;">
        <div class="text-center">
          <img src="{% static 'airport.jpg' %}" alt="airport" style="max-width: 80%; min-width: 100%" >
        </div>
      </div>

      <hr>

      <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Your Upcoming Trips:</h2>
      <br>
      <div class="tickets">
        <center>
        <div class="list-group" style="width: 50%">
          {% for ticket in tickets %}
            <a href="{% url 'passengers:ticket' slug=ticket.slug %}" class="list-group-item list-group-item-action list-group-item-danger">
              Ticket Booking ID {{ ticket.booking_id }}<br>
              Trip on : {{ ticket.journey_date }}
            </a>
            <hr>
          {% endfor %}
        </div>
        </center>
      </div>
    </div>


{% endblock %}
